<div id="index-banner" class="parallax-container">
  <div class="section no-pad-bot">
    <div class="container">
      <br><br>
      <h1 class="header center teal-text text-lighten-2">Hairs Not Scares - Admin Portal</h1>
      <div class="row center">
        <a href="/locations" id="download-button" class="btn-large waves-effect waves-light teal lighten-1"><i class="material-icons">location_on</i> View Locations</a>
        <a href="/stylists" id="download-button" class="btn-large waves-effect waves-light teal lighten-1"><i class="material-icons">speaker_notes</i> View Stylists</a>
        <a href="/clients" id="download-button" class="btn-large waves-effect waves-light teal lighten-1"><i class="material-icons">settings_phone</i> View Clients</a>
      </div>
      <br><br>

    </div>
  </div>
  <div class="parallax"><img src="<%= url('img/pugwrap.jpg') %>" alt="Unsplashed background img 1"></div>
</div>


<div class="container">
  <div class="section">

    <div class="row">
      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center brown-text"><i class="material-icons">navigation</i></h2>
          <h5 class="center">Locations</h5>

          <p class="light">It's always a challenge to keep track of the day to day at all of your locations, but at least now you'll know who's where at what time.</p>
        </div>
      </div>

      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center brown-text"><i class="material-icons">schedule</i></h2>
          <h5 class="center">Stylists</h5>

          <p class="light">Do you know what stylist are meeting with each client?  You can find out by logging in and changing your stylist's schedule so they can focus on their art.</p>
        </div>
      </div>

      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center brown-text"><i class="material-icons">location_on</i></h2>
          <h5 class="center">Clients</h5>

          <p class="light">Look up all your clients info to find out when their next appointments are.  Their contact information is also listed.</p>
        </div>
      </div>
    </div>

  </div>
</div>


<div class="parallax-container valign-wrapper">
  <div class="section no-pad-bot">
    <div class="container">
      <div class="row center">
        <h5 class="header col s12 light">No hair is safe.</h5>
      </div>
    </div>
  </div>
  <div class="parallax"><img src="img/beardcut.jpg" alt="Unsplashed background img 2"></div>
</div>


<footer class="page-footer teal">
  <div class="container">
    <div class="row">
      <div class="col l6 s12 offset-l3 center-align">
        <h5 class="white-text">Company Bio</h5>
        <p class="grey-text text-lighten-4">Our business is to help you manage yours.  Schedule clients, look up your stylists, and see what locations need more staff.  Log in to find out more info!</p>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
    Made by a beardless <a class="brown-text text-lighten-3" href="#">Chip</a>
    </div>
  </div>
</footer>
